@import "utils.less";

#experiences  {

    /* ---------- EXPERIENCES SORTING ---------- */
    .sorting {
        &:extend(.whiteframe-shadow-1dp);

        width: 100%;
        background-color:  @main-color2;
        border-radius: 3px 3px 0 0;
        padding: 5px;

        .btn {
            text-align: center;
            font-family: @title-font;
            background-color: darken(@main-color2, 1%);
            border-radius: 50%;
            border: 0;
            color: #fff;
            display: inline-block;
            cursor: pointer;
            min-height: 55px;
            min-width: 55px;
            vertical-align: middle;
            box-sizing: border-box;
            margin: 6px 8px;
            text-transform: uppercase;
            font-size: 1em;
            font-variant: inherit;
            text-decoration: none;
            overflow: hidden;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease, all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
                background-color: darken(@main-color2, 5%);
            }
        }
        
        .filter-selected {
            background-color: darken(@bg-color, 1%);
            color: @color;
            cursor: default;
            &:hover {
                background-color: darken(@bg-color, 1%);
            }
        }
    }

    /* ---------- EXPERIENCES CONTENT ---------- */
    .content  {
        & > li {
            margin: 0 0 0 90px;
            list-style: none;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 10px 0;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 3px;
                background: @main-color1;
                margin-left: -6px;   
            }

            .round {
                width: 7px;
                height: 7px;
                border: 3px solid @main-color1;
                border-radius: 50%;
                background-color: @bg-color;
                margin: 14px -11px 0;
                position: absolute;
            }
            
            .dates {
                font-family: @title-font;
                margin: 0 0 0 -120px;
                min-width: 88px;
                text-align: right;
                font-size: 1em;
                & > .date_fin {
                    font-weight: bold;
                }
            }

            /* ---------- DESCRIPTION ---------- */
            .desc {
                margin: 0 0 0 4%;
                color: @color;
                cursor: pointer;
                font-size: 0.9em;
                font-weight: 300;
                line-height: 1.4;
                position: relative;
                border-radius: 5px;
                flex: 1;



                & > .top {
                    display: flex;
                    flex-direction: row;   
                    align-items: center;        
                    margin: 5px 10px;         

                    & > .logo {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../assets/images/logo_nb.png');
                    }

                    & > .title {
                        margin: 0 10px;
                        
                        & > h2.type_mission { 
                            margin: 0;
                            font-size: 26px;
                            text-transform: uppercase;
                            font-weight: normal;
                            font-family: @title-font;
                        }
                        
                        & > .subtitle {
                            display: flex;
                            
                            & >.domaines {
                                & > div.little_domaine:first-child {
                                    margin-left: 0;
                                }

                                & > div.little_domaine {
                                    @ltl-domaine-fs: 23px;
                                    height: @ltl-domaine-fs;
                                    width: @ltl-domaine-fs;
                                    background: darken(@bg-color, 10%);
                                    border-radius: 50%;
                                    font-family: @title-font;
                                    vertical-align: middle;
                                    text-align: center;
                                    display: inline-block;
                                    box-sizing: border-box;
                                    margin: 0 6px;
                                    text-transform: uppercase;
                                    font-variant: inherit;
                                    text-decoration: none;
                                    overflow: hidden;
                                    line-height: @ltl-domaine-fs;
                                } // END div.little_domaine
                            } // END .domaines

                        }
                    }
                } // END .top
                
                & > .more {
                    margin: 5px 10px 0;
                    display: flex;
                    flex-direction: row;

                    & > p.details, & > p.summary {
                        margin: 0 5px;;
                    }
                }

                &:hover {
                    background: darken(@bg-color, 1%);
                }
            } // END .desc
        }
    } 
}

@media screen {
    @media (max-device-width: @sm) {
        #experiences  {

            .sorting .btn {
                font-size: 2.2vw;
            }

            .content > li {
                margin: 0 0 0 85px;
                display: flex;

                & > .dates {
                    margin: 0 0 0 -105px;
                    font-size: 2.5vw;
                }

                & > .desc {

                    & > .top {
                        & > .title > h2.type_mission {
                            font-size: 3.3vw;
                        }
                    }

                    & > .more {
                        font-size: 2vw;
                    }

                }
            } 
        }
    }
}