@import "utils.less";

#experiences  {

    /* ---------- EXPERIENCES TRI ---------- */
    .experiences_tri {
        width: 100%;

        .btn {
            text-align: center;
            font-family: @title-font;
            background: darken(@bg-color, 2%);
            border-radius: 50%;
            border: 0;
            color: @color;
            display: inline-block;
            cursor: pointer;
            min-height: 60px;
            min-width: 60px;
            vertical-align: middle;
            box-sizing: border-box;
            margin: 6px 8px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 19px;
            font-variant: inherit;
            text-decoration: none;
            overflow: hidden;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;

            &:hover {
                background: darken(@bg-color, 5%);
            }
        }
        
        .filter-selected {
            background-color: @main-color2;
            color: #fff;

            &:hover {
                background-color: darken(@main-color2, 5%);
            }
        }
    }

    /* ---------- EXPERIENCES LISTE ---------- */
    .experiences_liste > li {
        margin: 30px 0 0 0;
        padding: 0;
        list-style: none;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            background: @md-color;
            margin-left: -6px;   
        }

        /* ---------- DATES ---------- */
        .dates {    
            background-color: @bg-color;
            margin: 0 -40px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 70px;
            text-transform: uppercase;
            font-family: @title-font;

            .date_fin {
                color: @color;
                font-weight: bold;
            }
        }

        /* ---------- DESCRIPTION ---------- */
        .desc {
            margin: 0 0 0 11%;
            background: darken(@bg-color, 2%);
            color: @color;
            cursor: pointer;
            padding: 10px 15px;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;

            &:hover {
                background: darken(@bg-color, 5%);
                &:after {
                    border-right-color: darken(@bg-color, 5%);
                }
            }

            .domaines div.little_domaine {
                height: 20px;
                width: 20px;
                background: darken(@bg-color, 10%);
                border-radius: 50%;
                font-family: @title-font;
                font-size: 12px;
                vertical-align: middle;
                text-align: center;
                display: inline-block;
                box-sizing: border-box;
                margin: 6px;
                text-transform: uppercase;
                font-variant: inherit;
                text-decoration: none;
                overflow: hidden;
                line-height: 20px;
            }

            h2.type_mission { 
                font-size: 26px;
                margin-top: 0px;
                text-transform: uppercase;
                font-weight: normal;
                font-family: @title-font;
            }

            &:after {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                border-right-color: darken(@bg-color, 2%);
                border-width: 10px;
                top: 10px;
            }
        }
    } 
}

@media screen {
    @media (max-width: 750px) {
        #experiences  {
            .experiences_liste > li {
                display: flex;

                &:before {
                    display: none;
                }
                .dates {    
                }
                .desc {
                    margin: 0 0 0 40px;
                    padding: 1em;
                    font-weight: 400;
                    font-size: 95%;
                    cursor: pointer;
                    width: 100%;
                }
            } 
        }
    }
}