@import "utils.less";

body {
	height: 100%;
    margin:0;
	font-family: @global-font;
	background-color: @bg-color;
	color: @color;
	overflow:scroll;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;

	.main {		
		width: 100%;
		display: flex;
		flex: 7;

		h2.title {
			font-family: @title-font;
			text-transform: uppercase;
		}

		#competences {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 0 30px;
		}

		#experiences  {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 0 30px;
		}
	}

	.header {
		&:extend(.whiteframe-shadow-2dp);
		display: flex;
		flex-direction: column;
		flex: 2;
		padding: 30px 10px 10px;
		background-color: darken(@bg-color, 2%);

		.circlePhoto {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			background-image: url('../assets/images/poune.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border: #fff 10px solid;
			&:extend(.whiteframe-shadow-1dp);
			margin: 0 auto;
		}

		.name {
			text-transform: uppercase;
			font-family: @title-font;
			text-align: center;
			color: @main-color2;
			margin: 30px 0 10px;
			font-size: 30px;
		}

		.desc {
			text-align: center;
			font-style: italic;
			font-size: 0.8em;
			margin: 10px 15px;
		}
	}

	.misc {
		align-self: center;
		display: flex;
		flex: 3;
	}
}

@media screen {
	@media (max-device-width: @sm) {		
		.container {
			flex-direction: column;
		
			.header {
				display: flex;
				flex-direction: row;
				padding: 15px 10px;
				flex-wrap: wrap;
				align-items: center;

				.circlePhoto {
					flex: initial;
					width: 10vw;
					height: 10vw;
					border-width: 2px;
					margin: auto 20px auto 20vw;
				}

				.name {
					flex: 4 0 auto;
					margin: 0;
					font-size: 7vw;
					text-align: left;
				}
		
				.desc {
					margin: 10px 20px;
					font-size: 2.5vw;
				}
			}
		}
	}
}