@import "utils.less";

body {
	height: 100%;
    margin:0;
	font-family: @global-font;
	background-color: @bg-color;
	color: @color;
	overflow:scroll;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;

	.main {		
		width: 100%;
		display: flex;
		flex: 7;

		h2.title {
			font-family: @title-font;
			text-transform: uppercase;
			font-size: 1.9em
		}

		#competences {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 0 30px;
		}

		#experiences  {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 0 30px;
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		flex: 2;
		padding: 30px 10px 10px 25px;

		.logo {
			width: 27%;
			height: 100px;
			background-image: url('../assets/images/logo.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top;
			margin: 0 auto;
		}

		.circlePhoto {
			width: 53%;
			height: 200px;
			background-image: url('../assets/images/poune.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			margin: 0 auto;
		}

		.bar {
	
			.name {
				text-transform: uppercase;
				font-family: @title-font;
				text-align: center;
				color: @main-color2;
				margin: 30px 0 10px;
				font-size: 2.5em;
			}

			.logo {
				display: none;
			}

		}

		.desc {
			text-align: justify;
			font-style: italic;
			font-size: 0.9em;
			margin: 10px 15px 20px;
			quotes: "\201C" "\201D";
			position: relative;
			padding: 0 0 0 42px;
		}
		.desc:before {
			font-family: Georgia, serif;
			content: open-quote;
			position: absolute;
			left: -22px;
			top: -28px;
			color: darken(@bg-color, 10%);
			font-size: 8em;
		}
	}

	.misc {
		align-self: center;
		display: flex;
		flex: 3;
	}
}

@media screen {
	@media (max-device-width: @sm) {		
		.container {
			flex-direction: column;
		
			.header {
				display: flex;
				flex-direction: row;
				padding: 0;
				flex-wrap: wrap;
				align-items: center;

				.bar {
					&:extend(.whiteframe-shadow-2dp);
					display: flex;
					flex-direction: row;
					background-color: #ddd;
					padding: 2vw 3vw;
					width: 100%;
	
					.name {
						flex: 4 0 auto;
						margin: 0 auto;
						font-size: 7vw;
						text-align: center;
						color: #fff;
						font-weight: bold;
					}

					.logo {
						display: block;
						width: 103px;
						top: 1vw;
						position: absolute;
					}

				}

				.circlePhoto {
					flex: initial;
					width: 20vw;
					height: 27vw;
					border-width: 2px;
					margin: 0 0 0 4vw;
				}
		
				.desc {
					margin: 40px 50px;
					font-size: 2.5vw;
					padding: 0 0 0 105px;
					flex: 1 0;
				}

				.logo{
					display: none;
				}
			}

			.main {
				h2.title {
					font-size: 3em;
				}
			}
		}
	}
}